.snakemake/
.backup/00_data/out/
.idea/
__pycache__/
.ipynb_checkpoints

peptidereactor/iFeature/codes/__pycache__/
peptidereactor/iFeature/PseKRAAC/__pycache__/
peptidereactor/iFeature/iFeature.egg-info/
peptidereactor/RaptorX/
peptidereactor/psipred/
peptidereactor/VSL2/
peptidereactor/spineXpublic/

peptidereactor/db/*

# keep zipped fasta build from PDB
!peptidereactor/db/pdb/
peptidereactor/db/pdb/*
!peptidereactor/db/pdb/in_structure/
peptidereactor/db/pdb/in_structure/pdb.db*
peptidereactor/db/pdb/in_structure/pdb.fasta
!peptidereactor/db/pdb/in_structure/pdb.fasta.gz

data/*

!data/protease/
!data/acp_*/
!data/ace_vaxinpad/
!data/amp_*/
!data/atb_*/
!data/avp_*/
!data/afp_*/
!data/aip_*/
!data/bce_*/
!data/bvf_spaan/
!data/nep_*/
!data/npp_profet/
!data/hiv_*/
!data/isp_il10pred/
!data/tph_profet/
!data/cpp_*/
!data/sec_pengaroo/
!data/rbp_tripep/
!data/sol_han/
!data/pip_pipel/
!data/sig_signalp/
!data/tce_zhao/
!data/top_toxinpred/
!data/hem_hemopi/

data/*/*/
data/*/seqs_*.fasta
data/*/classes_*.txt

peptidereactor/tests/csv/

nodes/utils/*/download_links/*.txt
nodes/*/*/config.yaml
nodes/*/*/*_config.yaml

*.pdf

peptidereactor.smk
peptidereactor.yaml
