/* aligns view to the left side */
.reportview-container .main {
    align-items: flex-start; !important;
}

/* hides hamburger menu in the top right corner */
#MainMenu {
    visibility: hidden;
}

/* hides "full screen button" of plots */
.open-iconic {
    visibility: hidden;
}